body {
    background-color: yellow;
    text-align: center;
}

.a1 {
    text-align: center;
}

.main {
    margin-left: 570px;
}

.b1 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.b1:hover {
    background-color: brown;
    width: 300px;
}

.b2 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.b2:hover {
    background-color: brown;
    height: 300px;
    width: 300px;
}

.b3 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.b3:hover {
    background-color: brown;
    width: 300px;
}

.b4 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.b4:hover {
    background-color: brown;
    width: 300px;
}

.b5 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

.b5:hover {
    background-color: brown;
    width: 300px;
}

.b6 {
    height: 120px;
    width: 120px;
    background-color: lightgreen;
    transition: 3s;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.b6:hover {
    background-color: brown;
    width: 300px;
}
.c{
    color: rgb(72, 72, 250);
    text-decoration: underline;
}
